DB_PORT=3306  # Replace with your MySQL port number
DB_DATABASE=''
DB_HOST='localhost'
DB_USER='root'
DB_PASSWORD=''
MAIL_USER=''
MAIL_PASS=''
MAIL_HOST='smtp-mail.outlook.com'
NODE_ENV='development'
